*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: dodgerblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 60px;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 20px;
  color: white;
}

p {
  color: #888888;
  padding: 20px;
  font-size: 18px;
}

nav{
  width: 100%;
  padding: 19px;
  background-color: rgb(0, 109, 217);
}

nav .container{
   width: 90%;
   margin: auto;
   display: flex;
   justify-content: space-between;
}

nav .logo{
  font-size: 20px;
  text-decoration: none;
  color: #eaeaea;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 7px 0 0;
}

nav ul{
  list-style-type: none;
  display: flex;
}

nav li {
  padding: 10px;
  margin: 0 7px;
}

nav a{
  text-decoration: none;
  color: rgb(235, 235, 235);
  font-weight: bolder;
  transition: .2s all;
}

nav a:hover{
  color: white;
}